.header, .footer {
    -fx-pref-height: 64;
    -fx-padding: 20;
}

.headerLabel {
    -fx-font-size: 22;
    -fx-text-fill: black;
    -fx-font-style: oblique;
}

.center {
    -fx-padding: 20;
}

.bold{
    -fx-font-weight: bold;
}
.italic{
    -fx-font-style: italic;
}
.separator{
    -fx-text-alignment: center;
    -fx-font-style: oblique;
}